*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;
    overflow-x: hidden;
    margin: auto;

}

/* Menu */
nav{
    width: 100%;
    margin: auto;
}


.nav-link.active{
    color: #630000 !important;
    transform: scale(1.01);
    transition: 0.3s;
}

.nav-link{
    margin-right: 15px;
    transition: 0.3s;
}

.nav-link:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    color: #630000;
}

.navbar-brand{
    transition: 0.3s;
}


.navbar-brand:hover{
    transform: scale(1.3);
    transition: 0.3s;

}



/* Fin del menu */


/* Index */

h1{
    font-family: "Playfair", serif;
    font-weight: 800;
    font-style: bold;
    font-size: 3em;
    text-align: center;

}

.banner{
    background-image:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.45)),
    url(Img/Banner.gif);

    background-size: cover;
    background-position: center;
    text-align: center;

    padding: 10% 5%;
}

.banner h1{
    color: white;
    padding: 0 2%;
    max-width: 900px;
    margin: auto;
}

.banner p{
    color: #ecf4f7;
    font-size: 1.3em;
    padding: 2% 8%;
}


.botonbanner{
    background-color: #630000;
    border-color: #630000;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1em;
    font-weight: 500;

    color: #ecf4f7;
    padding: 10px;
    border-radius: 15px;

    text-decoration: none;

    transition: 0.3s;

}

.botonbanner:hover{
    background-color: #394043;
    transition: 0.3s;
    font-size: 1.1em;
}

/* Fin de Index */

/* Aptitudes */

.aptitudes{
    padding: 4% 10% 2% 10%;
    background-color: white;

}
.index{
    text-align: center;
    font-family: "Instrument Sans", sans-serif;
    font-size: 2em;
    font-weight: 700;

}
.apt{
    padding: 3% 5% 4% 5%;
}

.indexrec{
    text-align: center;
    font-family: "Instrument Sans", sans-serif;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 3%;
    color: white;

}
.recursos{
    padding: 4% 10% 4% 10%;
    background-image:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.45)),
        url(Img/fondorec.gif);
}

.rec{
    padding-top: 3%;
    box-shadow: 0 0 0 0.2rem #63000053;
}

.rec a{
    background-color: #630000;
    border-color: #630000;
    transition: 0.3s;
}

.rec a:hover{
    background-color: #630000be;
    border-color: #630000be;
    transform: translateY(-5px);

}

/* Fin de rec */


/* Footer */

footer{
    background-color: #394043;
    padding: 1% 8%;
    text-align: center;
}

footer img{
    margin-bottom: 10px;
    transition: 0.3s;
}

footer img:hover{
    transform: scale(1.05);
}

footer .nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

footer .nav-link{
    color: #ecf4f7;
    transition: 0.3s;
}

footer .nav-link:hover{
    transform: translateY(-5px);
}

footer svg{
    width: 32px;
    height: 32px;
    filter: invert(4);
}

footer::after{
    content: "© 2026 Yael Sandoval — Todos los derechos reservados";
    display: block;
    margin-top: 35px;
    color: #cfd9dd;
    font-size: 0.9em;
}

/* Fin de Footer */

/* Sobre mi */

.intro{
    height: auto;
    padding: 3% 15% 2% 15%;;
    background-color: #ecf4f7;
}

.intro p{
    font-size: 1.1em;
    padding-top: 5%;
}

.mvv{


    padding: 2% 10% 2% 15%;

    display: flex;
    align-items: center;
    gap: 40px ;

    background-color: #ecf4f7;

}

.mvv img{
    width: 80%;
    min-width: 350px;
    border-radius: 20px;
}

.mvvtxt h2{
    color: #394043;
    font-size: 1.8em;
    font-weight: 600;
}


.val ul li{
    list-style: none;
}
.val ul li span{
    font-size: 1.1em;
    font-weight: 600;
}

.formacioncards{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.45)),
        url(Img/portadainfo.gif);
    background-size: cover;
    background-position: center;

    padding: 5% 8%;

}

.formacad{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.formacad .card{
    flex: 1;
    min-width: 300px;

    border: none;
    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0px 4px 20px #3940435b;
}

.formacad .card h2{
    background-color: #630000;
    color: #ecf4f7;
    text-align: center;
    padding: 3%;
}

.formacad .card .card-body {
    background-color: #ecf4f7;
}


.play{
    text-align: center;
    padding: 5% 10% 3% 10%;
    color: white;
    font-size: 2em;
}

.play2{
    text-align: center;
    padding: 5% 10% 0% 10%;
}

iframe{
    display: block;
    margin: auto;
    padding-bottom: 2%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 5% 8%;
}

.galeria img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
}

.galeria img:hover{
    transform: scale(1.3);
}

/* Fin de Sobre Mi */

/* Proyectos */


.proyectos{
    background-image:

    url(Img/portadaproyectos.jpg);
    background-position: center;
    background-size: cover;
}

.proyectos h1{
    padding-top: 10px;
}

.accordion{
    padding: 5% 8%;
}

.accordion-item{
    margin-bottom: 20px;

    border-radius: 20px;

    border: none;

    box-shadow: 0px 4px 15px #39404363;
}

.accordion-button{
    background-color: #ecf4f7;
    color: #394043;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 800;
    padding: 20px;
    font-size: 0.8em;
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    background-color: #630000;
    color: #ecf4f7 !important;
}

.accordion-body{
    padding: 30px;
    background-color: #ecf4f7;
}

.accordion img{
    border-radius: 15px;
}

.proy{
    text-align: center;
    padding-top: 5%;
}


/* Fin de Proyectos */

/* Contacto */

.contacto{
    padding: 4% 10% 2% 10%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.45)),
    url(Img/fondocontacto.gif);
    background-position: center;
    background-size: cover;
}

.infocont, .formcont {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.contacto h1{
    margin-bottom: 30px;
}

.infocont p{
    font-size: 1.1em;
    margin-bottom: 25px;
}


.infocont ul{
    padding: 0;
}

.infocont ul li{
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.1em;
}

.infocont ul li a{
    text-decoration: none;
    color: #ecf4f7;
    display: block;
    padding: 15px 20px;
    border-radius: 20px;
    transition: 0.3s;
    background-color: #394043;
}

.infocont ul li a:hover{
    background-color: #630000;
    color: #ecf4f7;
    transform: scaleX(1.03);
    transition: 0.3s;
    font-size: 1.05em;
}

.infocont svg{
    margin: 0 15px 0 5px;
}

.formcont label{
    font-size: 1.1em;
    font-weight: 500;
    margin: 10px 0 8px 5px;
}

.formcont input, .formcont textarea{
    border-radius: 15px;
    padding: 10px;
}

.formcont input:hover, .formcont textarea:hover{
    border-color: #630000;
    box-shadow: 0 0 0 0.2rem #63000077;
}

.formcont input:focus, .formcont textarea:focus{
    border-color: #630000;
    box-shadow: 0 0 0 0.2rem #63000077;
}

.opt{
    font-size: 0.9em;
    margin-left: 10px;
    margin-bottom: 10px;
}


.contacto button{
    padding: 10px 20px;
    background-color: #630000;
    color: #ecf4f7;
    display: block;
    margin: auto;
    margin-top: 30px;

}

/* Fin de Contacto */

/* Inicio de Agradecimiento */


.gracias{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #630000;

}

.mensaje{

    background-color: #ecf4f7;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    margin:20px;
}

.mensaje h1{
    font-size: 3em;
    margin-bottom: 30px;
}

.mensaje h1 span{
    display: block;
}

.mensaje h2{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
}


.tenor-gif-embed{
    border-radius: 20px;
}

.volver{
    padding: 10px 20px;
    background-color: #630000;
    color: #ecf4f7;
    margin-top: 30px;
}

.volver:hover{
    background-color: #6300008d;
}


.volver a{
    text-decoration: none;
    color: #ecf4f7;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.3s;
}



/* Fin del Agradecimiento */

/* Css para JS */

.aparecer{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.visible{
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1000px){

    .mvv{
        flex-direction: column;
    }

}